@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat&display=swap');

body{
    background-color: #141414;
}
.App {
  text-align: center;
}
.header-title{
  font-family: 'Fjalla One', sans-serif;
  font-size: 36px;
  cursor: pointer;
  color: #E50914;
}

.App-header {
  background-color: #141414;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}
.sub-header {
    background-color: #141414;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 20px;
}
.search-box{
  margin-left: 30px;
}

.spinner {
  height: 80px;
  margin: auto;
}

.a-tag{
    color: #fff;
    text-decoration: none;
}

.search-btn{
  cursor: pointer;
  background-color: #282c34;
  border: 1px solid #282c34;
  outline:none;
  margin-bottom: -1px;
}
.tab-title{
  float: right;
  margin-top: 20px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 14px;
  text-decoration: none;
  margin-right: 40px;
}

.search-img{
  width:16px;
  background-color: #282c34;
  border: 1px solid #282c34;
}

.App-intro {
  font-size: large;
    color: #fff;
}

/* new css for movie component */

* {
  box-sizing: border-box;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.App-header h2 {
  margin: 0;
}

.add-movies {
  text-align: center;
}

.add-movies button {
  font-size: 16px;
  padding: 8px;
  margin: 0 10px 30px 10px;
}

.movie {
  padding: 5px 25px 10px 25px;
  max-width: 25%;
}

.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(161, 15, 15);
}


.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 50px;
  justify-content: center;
}


input[type="submit"] {
  padding: 5px;
  background-color: #282c34;
  color: #d0d0d0;
  border: 1px solid black;
  width: 80px;
  margin-left: 5px;
  cursor: pointer;
}

.overlay{
  position: relative;
  width: inherit;
  z-index: 3;
  display: inline-block;
  height: 70px;
  background-color: #111;
  opacity: 0.9;
}
.overlay-title{
  color: #d0d0d0;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  padding: 5px;
}
.overlay-year{
  color: #d0d0d0;
  font-family: Montserrat, sans-serif;
  margin-top: -10px;
  font-size: 12px;
  padding: 5px;
}

.search > input[type="text"]{
  width: 40%;
  min-width: 300px;
  background-color: inherit;
  border: none;
  color: #d0d0d0;
  outline: none;
  font-size: 16px;
  border-bottom: 1px solid gray;
}
.movie{
  position: relative;
  z-index: 1;
  width: 200px;
  margin: 10px;
  height: 305px;
}

@media screen and (min-width: 694px) and (max-width: 915px) {
  .movie {
    max-width: 33%;
  }
}

@media screen and (min-width: 652px) and (max-width: 693px) {
  .movie {
    max-width: 50%;
  }
}


@media screen and (max-width: 651px) {
  .movie {
    max-width: 100%;
    margin: auto;
  }
}
